<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 완료 승인 페이지</title>
    <style>
        .container{
        width : 500px;
        margin : 50px auto;

      }

      #alarm{
         color : red;
         font-size : 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <p id="alarm" th:text="${alarm}?: _"></p>
    </div>

    <div class="container">
        <form method="get" th:action="@{/basic/work-list/coporateProjectFinish/finish}">
            <span>담당 프로젝트 이름 입력 : </span><input type="text" name="inputProjectName"/>
            <br/>
            <button type="submit">완료 승인</button>&nbsp;&nbsp;
            <a th:href="@{/basic/work-list/coporatePageforAdvisor}">이전 페이지로</a>
        </form>
    </div>
</body>
</html>