<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>에너지 관리자 회원가입</title>
    <style>
        .container{
        width : 500px;
        margin : 50px auto;

      }

      #alarm{
         color : red;
         font-size : 20px;
        }
    </style>
</head>
<body>
    <div class="container">
      <p id="alarm" th:text="${alarm}?: _"></p>
    </div>

    <div class="container">
        <form method="post" th:action>
          <span>사용할 아이디 입력 : </span><input type="text" name="inputID"/>
          <br/>
          <span>사용할 비밀번호 입력 : </span><input type="password" name="inputPwd"/>
          <br/>
          <button type="submit">회원가입</button>&nbsp;&nbsp;
          <a th:href="@{/basic/work-list/energyGameLogin}">로그인 페이지로</a>
        </form>
    </div>
</body>
</html>