<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>온라인 계좌 생성</title>
    <style>
        .container {
            border : 1px solid black;
            width : 500px;
            margin : 50px auto;
            text-align : center;
            padding : 10px auto;
        }

        .button{
            width : 100px;
            background-color : red;
            margin : 5px auto;
        }
    </style>
</head>
<body>
    <form class = "container" name="makingAccountForm" method="post">
        <h5>주민번호 입력</h5>
        <input type="text" name = "inputPersonalNum" value=""
               placeholder="주민번호 앞자리 6자리를 입력하세요."
               th:value="${account?.personalNum}"
        >
        <span th:text="${cautionPersonalNum}"></span>
        <br/>

        <h5>핸드폰번호입력(-없이)</h5>
        <input type="text" name="inputPhoneNum" value="" placeholder="핸드폰번호입력"
               th:value="${account?.handPhoneNum}"
        >
        <span th:text="${cautionPhoneNum}"></span>
        <br/>
        <h5>카드 번호 4자리 입력</h5>
        <input type="text" name="inputCardNum" value="" placeholder="카드번호 4자리 입력"
            th:value="${account?.cardSecretNum}"
        >
        <span th:text="${cautionCardNum}"></span>
        <br/>

        <div style="text-align:center;margin:20px auto;">

            <button type="submit" class="button" th:onclick="|location.href='@{basic/loginOnlineAccount}'|">계좌 생성</button>
        </div>

    </form>
</body>

</html>