<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>여행지 선호도 입력</title>
  <style>
        .container{
        width : 500px;
        margin : 50px auto;

      }

      #alarm{
         color : red;
         font-size : 20px;
        }
    </style>
</head>
<body>

    <div class="container">
      <p id="alarm" th:text="${alarm}?: _"></p>
    </div>

    <div class="container">
      <form method="post" th:action>
        <span>최대 예산 입력 : </span><input type="text" name="inputMaxPrice"/>
        <br/>
        <span>최대 여행 기간 입력 : </span><input type="text" name="inputMaxDays"/>
          <br/>
          <span>관심 여행지 입력 : </span><input type="text" name="inputRegion"/>
          <br/>
          <button>선호도 입력</button> &nbsp;&nbsp;
          <a th:href="@{/basic/work-list/travleUserMainPage}">메인 페이지로</a>
      </form>
    </div>
</body>
</html>